<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div class="mx-auto max-w-sm space-y-4 min-h-[calc(100vh-16rem)] flex flex-col justify-center">
    <div class="text-center">
      <.header>
        <p>Sign in</p>
        <:subtitle>
          <%= if @current_scope && @current_scope.user && !@current_scope.user.is_guest do %>
            You need to reauthenticate to perform sensitive actions on your account.
          <% else %>
            Enter your email to sign in or create an account.
          <% end %>
        </:subtitle>
      </.header>
    </div>

    <div :if={local_mail_adapter?()} class="alert alert-info">
      <.icon name="hero-information-circle" class="size-6 shrink-0" />
      <div>
        <p>You are running the local mail adapter.</p>
        <p>
          To see sent emails, visit <.link href="/dev/mailbox" class="underline">the mailbox page</.link>.
        </p>
      </div>
    </div>

    <.form :let={f} for={@form} as={:user} id="login_form_magic" action={"/users/log-in"}>
      <.input
        readonly={@current_scope && @current_scope.user && !@current_scope.user.is_guest}
        field={f[:email]}
        type="email"
        label={"Email"}
        autocomplete="email"
        required
        phx-mounted={JS.focus()}
      />
      <.button class="btn btn-primary w-full">
        Continue with email <span aria-hidden="true">&rarr;</span>
      </.button>
    </.form>
  </div>
</Layouts.app>
